/* about us page should be done here */
.member {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.about-us {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center; 
}

.member-container {
    margin-left: 10%;
	margin-right: 10%;
}