/* about us page should be done here */
.member {
    display: inline-block;
    border: 1px solid black;

    padding: 1rem 1rem;
    vertical-align: middle;
}

.about-us {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center; 
}

.member-container {
    margin-left: 10%;
	margin-right: 10%;
}

.member :hover {
    background-color: transparent;
    
}

.member-container  :hover {
    box-shadow: 0 0 0 3px #424141;
}

.hide{
    display: none;
}

.reveal:hover + .hide {
    display: block;
    color: blue;
}
